body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  background-color: black;
}

* {
  box-sizing: border-box;
}

/* Lightbox Modal (background) */
.lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: rgba(0,0,0,.85);
}

/* Lightbox Modal Content */
.lightbox-content {
  position: relative;
  background: rgba(0,0,0,0);
  margin: auto;
  padding: 0;
  max-height: 100vh;
  max-width: 85vw;
  /*max-width: fit-content;*/ /*puts arrows inside image*/
  /*center box*/
  top:50%;
  transform: translateY(-50%);
}

/* The Close Button */
.close-button {
  color: #ffb6c1;
  position: absolute;
  top: 0px;
  right: 50px;
  font-size: 60px;
  z-index: 2;
}

.close-button:hover,
.close-button:focus {
  color: #ffb6c1;
  text-decoration: none;
  cursor: pointer;
}

.myImages {
  display: none;
}

.myImages img {
  max-height: 100vh;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #ffb6c1;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/*may use later*/
.prev:hover,
.next:hover {
  /*background-color: rgba(255, 182, 193, 1);*/
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);*/
}

.gallery img {
  width: 100%;
  height: auto;
  padding: 10px;
  transition: 0.3s;
}

.gallery img:hover {
  cursor: pointer;
  transform: scale(1.1)
}

.white-border{
  border: 5px solid white;
  border-radius: 2px;
}

@media screen and (max-width: 767.99px){
  .lightbox-content {
    max-height: 100vh;
  }
  .mySlides img {
    max-height: 100vh; 
  }
}
