/*Element defaults*/
html, body {
	background-color: #000;
	/*background: url("../img/contact-wallpaper.jpg") no-repeat center center fixed;*/
	color: #fff;
	font-family: 'Raleway', sans-serif;
	width: 100%;
}

/*Backgrounds*/
.profile-pic {
	background: -webkit-gradient(linear,left top, right top,from(gray),to(black));
	background: -webkit-linear-gradient(left,gray,black);
	background: -o-linear-gradient(left,gray,black);
	background: linear-gradient(to right,gray,black);
}
.black-bg {
	background-color: black;
}
.pink-bg {
	background-color: #ffb6c1;
}

/*Colors*/
.grayscale-me{
	-webkit-filter: grayscale(1);
	filter:grayscale(1);
}
.pink {
	color: #ffb6c1;
}
.white {
	color: white;
}

/*Borders, margins, and padding*/
.no-border {
	border: 0;
}
.no-padding {
	padding: 0;
}

/*Typography changes*/
.quote-text {
    color: white;
    font-family: 'Special Elite', cursive;
    max-width: 700px;
}
.quote-sig {
    color: white;
    font-family: 'Homemade Apple', cursive;
    max-width: 700px;
}
.underline-heading:hover{
	text-decoration: underline;
	-webkit-text-decoration-color: #ffb6c1;
	        text-decoration-color: #ffb6c1; 
}.gravitas-one {
	font-family: 'Gravitas One', cursive;	
}

/*Navbar*/
.nav-link {
	color: #ffb6c1;
}
.nav-link:hover {
	color: white;
}

.dropdown-menu {
	background-color: black;
}
.dropdown-item {
	color: #ffb6c1;
}

/*Custom Navbar toggler color and border*/
.custom-toggler.navbar-toggler {
    border-color: rgb(255,182,193);
    border: none;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,182,193, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-brand-img{
	width: 200px;
}

/*Buttons*/
.btn-primary {
	background-color: #ffb6c1;
	color: black;
	border: #ffb6c1;
	font-family: 'Raleway', sans-serif;
}

/*Homepage section button/pics*/
.img-button {
	-o-object-fit: cover;
	   object-fit: cover;
	-webkit-filter:opacity(.7);
	        filter:opacity(.7);
	border-radius: 0;
	overflow: hidden;
	width: 100%;
	height:100%;
}

.top-header-styling {
  color: white;
  font-weight: 600;
  letter-spacing: 10px;
  padding: 0 5px;
}

/*Id Specific*/
#dynamic-body{
	padding-top: 118px;
}
#about{
}
.homeimage {
	-webkit-filter: opacity(.55);
	filter: opacity(.55);
}

/*responsive screen*/
@media screen and (max-width: 479.99px){
	.homeimage {
		content:url("../img/KJWedFL-201-1920-sm.jpg");
		height: 90vh;
		-o-object-fit: cover;
		   object-fit: cover;
	}
	/*.img-button {
		height: 150px;
	}*/
}
@media screen and (max-width: 575.99px){
	#about {
		text-align: center;
		padding-bottom: 20px;
	}
	.img-button {
		height: 150px;
	}
	/*.profile-pic {
		margin: 60px;
	}*/
}
@media screen and (max-width: 767.99px){
	.navbar-brand-img {
		width: 125px;
	}
	/*.navbar-brand {
		position: absolute;
		width: 100%;
		left: 0;
		text-align: center;
		margin: 0 auto;
	}*/
	.navbar-toggler {
		padding: 10px;
	}
	.quote-text {
		max-width: 450px;
	}
	.profile-pic {
		border: solid 4px #CCC;
		-moz-box-shadow: 2px 2px 5px #999;
    	-webkit-box-shadow: 2px 2px 5px #999;
        box-shadow: 2px 2px 5px #999;
		margin: 20px 90px;
	}
	#dynamic-body {
		padding-top: 80px;
	}
	.icon-margins {
		margin-left: 10px;
		margin-right: 10px;
	}
	a {
		font-size: 1.5em;
	}
}

/****Animations for Dynamic Body******/
/*#dynamic-body.ng-enter{
    transform: translateX(-500px);
    opacity: 0;
 
    -webkit-transition: all 0.5s cubic-bezier(1,.01,0,.99);
    -moz-transition: all 0.5s cubic-bezier(1,.01,0,.99);
    -ms-transition: all 0.5s cubic-bezier(1,.01,0,.99);
    -o-transition: all 0.5s cubic-bezier(1,.01,0,.99);
    transition: all 0.5s cubic-bezier(1,.01,0,.99);
}
 
#dynamic-body.ng-enter-active{
    transform: translateX(0px);
    opacity: 1;
}
 
#dynamic-body.ng-leave{
    transform: translateX(0);
    opacity: 1;
 
    -webkit-transition: all 0.5s cubic-bezier(1,.01,0,.99);
    -moz-transition: all 0.5s cubic-bezier(1,.01,0,.99);
    -ms-transition: all 0.5s cubic-bezier(1,.01,0,.99);
    -o-transition: all 0.5s cubic-bezier(1,.01,0,.99);
    transition: all 0.5s cubic-bezier(1,.01,0,.99);
}
 
#dynamic-body.ng-leave-active{
    transform: translateX(500px);
    opacity: 0;
}*/

