<div id="home" class="container-fluid">
    <div class="row">
    	<div class="col-lg-12 no-padding">
        	<div class="card no-border black-bg">
          		<img class="card-img img-fluid homeimage" src="./img/KJWedFL-201-1920.jpg">
        	</div>
        	<div class="card-img-overlay d-flex h-100 align-items-center justify-content-center">
            	<span class="text-center">
            		<h1 class="card-text quote-text display-2">"We could write a whole amazing novel on how great <span class="pink">Marisa</span> is."</h1>
            		<h4 class="card-text quote-sig text-right">- Kat &amp; James</h4>
            		<a href="" style="font-size:2em;color:#ffb6c1;"><i class="fas fa-chevron-down"></i></a>
                    <p style="color:#ffb6c1;">SCROLL DOWN TO SEE MORE</p>
        		</span>	
        	</div>
      	</div>
    </div>
</div>
<div id="aboutHome" class="container-fluid">
	<div class="row align-items-center">
		<div class="col align-items-center justify-content-center" style="margin-top: 10px;">
			<h2 style="font-weight: 100;" class="text-center"><span class="pink">rosehip</span> is an events management and consultation company that specializes in corporate events and day of coordinating. Owner, <span class="pink">Marisa Marquez</span>, can turn your corporate event into a bespoke dynamic moment in time for your clients and colleagues to enjoy.</h2>
		</div>       
    </div>
    <div class="row align-items-center">
        <div class="col-12 align-items-center justify-content-center no-padding" style="padding: 10px 10px;">
            <div class="text-center">
                <!--button data-toggle="collapse" class="btn btn-primary" data-target="#collapsiblePortfolio">More About Marisa...</button-->
                <p style="font-weight: 100; color:#ffb6c1; margin-bottom: 0;">EXPAND TO READ MORE ABOUT MARISA</p>
                <div class="text-center" style="font-size: 2em;color:#ffb6c1; cursor: pointer;">
                    <a data-toggle="collapse" data-target="#collapsiblePortfolio" aria-expanded="false" aria-controls="collapsiblePortfolio">
                        <span ng-click="toggle=!toggle">
                          <span ng-show="toggle"><i class="fas fa-chevron-circle-up"></i></span>
                          <span ng-hide="toggle"><i class="fas fa-chevron-circle-down"></i></span>
                        </span>
                    </a>
                </div>
            </div>
            <div id="collapsiblePortfolio" class="collapse" style="margin-top: 0;">
                <div class="container-fluid align-items-center" style="height: 100%">
                    <!--div class="row justify-content-center">
                        <h1 class="quote-text text-center display-3">About <span class="pink"">Marisa</span></h1>
                    </div-->
                    <div class="row h-100 align-items-center">
                        <div class="col-md-6 no-padding">
                            <div class="h-100 profile-pic">
                                <img class="img-fluid grayscale-me" src="./img/headshot_crop_no_bg_flip.png" style="object-fit: cover;">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="h-100">
                                <p style="font-weight: 300;">After successfully building the events department in the U.S. for Allen &amp; Overy, a global corporate law firm, Marisa decided to venture out on her own and founded <span class="pink">rosehip</span>.  While at Allen &amp; Overy she executed numerous events from small dinners to thousand person advanced screenings of Star Wars.</p>
                                <p style="font-weight: 300;">Over her career she has worked with Disney, The Public Theater, W-Hotel, Marriott, AMC, SIFMA, and managed events in New York, Denver, San Diego, Orlando, and Miami.  Her background in theatrical and film production gives her events an edge while paying close care to all the logistical details.</p><br>
                                <h3 class="text-center" style="color: #ffb6c1; font-weight: 600;">"She has put her heart and soul into every client event she has executed."</h3>
                                <h4 class="text-center" style="font-family: 'Homemade Apple', cursive;">-Anna Sullivan</h4>
                                <h5 class="text-center" style="font-weight: 200;">Senior Business Development Manager</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="shortcuts" class="container-fluid">
	<div class="row">
    	<div class="col-12 col-sm-6 card text-center black-bg no-padding container-fluid">
			<a class="display-4" href="#/events">
                <img class="card-img img-fluid img-button" src="./img/coordinate_694_flip.jpg">
        		<div class="card-img-overlay d-flex align-items-center justify-content-center no-padding">
                    <span>
                        <h3 style="color: white;font-weight: 600;letter-spacing: 10px;">EVENT SERVICES</h3>
                    </span>
        		</div>
            </a>
        </div>
        <!--div class="col-4 card text-center black-bg" style="visibility: hidden;">
            <a href="#/film">
                <img class="card-img img-fluid img-button" src="./img/film.jpg">
                <div class="card-img-overlay d-flex align-items-center justify-content-center no-padding">
                    <h2 class="white">Film</h2>
                </div>
            </a>
        </div-->
        <div class="col-12 col-sm-6 card text-center black-bg no-padding container-fluid">
    		<a class="display-4" href="#/portfolio">
                <img class="card-img img-fluid img-button" src="./img/formal_event_ig.jpg">
        		<div class="card-img-overlay d-flex align-items-center justify-content-center no-padding">
        			<h3 style="color: white; font-weight: 600;letter-spacing: 10px">PORTFOLIO</h3>
        		</div>
            </a>
      	</div>
	</div>
</div>
<div id="contact" class="container-fluid">
    <div class="container-fluid align-items-center justify-content-center">
        <div class="row justify-content-center">
            <h1 id="contact-us" class="text-center display-3" style="margin: 30px;color: white;font-weight: 600;letter-spacing: 10px;">CONTACT</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <form name="myForm" class="text-center" novalidate>
                    <div class="form-group form-row">
                        <div class="col">
                            <input type="text" name="name" ng-model="contact.name" class="form-control" id="inputName" placeholder="Name" required>
                            <span ng-show="myForm.name.$touched && myForm.name.$invalid">
                                <small style="color: red; display: block; text-align: center;">Hey....you. What was your name again?</small>
                            </span>
                        </div>
                    </div>  
                    <div class="form-group form-row">
                        <div class="col">
                            <input type="email" name="email" ng-model="contact.email" class="form-control" id="inputEmail" placeholder="Email" required>
                            <span ng-show="myForm.email.$touched && myForm.email.$invalid">
                                <small style="color: red; display: block; text-align: center;">What's your email? Promise not to spam you.</small>
                            </span>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col">
                            <input type="text" name="phone" ng-model="contact.phone" class="form-control" id="inputPhoneNumber" placeholder="Phone Number (Optional)">
                        </div>
                    </div>
                    <div class="form-group form-row">   
                        <div class="col">
                            <textarea class="form-control" name="message" ng-model="contact.message" rows="4" id="inputMessage" placeholder="Message" required></textarea>
                            <span ng-show="myForm.message.$touched && myForm.message.$invalid">
                                <small style="color: red; display: block; text-align: center;">Don't leave without saying "Hi!"</small>
                            </span>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid || myForm.$pristine">Submit</button>
                            <button type="reset" class="btn btn-primary" ng-click="myForm.$setPristine();myForm.$setUntouched();">Reset</button>
                            <span ng-show="myForm.$submitted">
                                <medium style="color: green; display: block; text-align: center;">Thanks! I'll get back to you soon.</medium>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>